<!DOCTYPE html>
<html>
  <head>
    <title>Control6</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <% flash.each do |type, message| %>
      <%= content_tag :div, message, class: "alert alert-#{type}" %>
    <% end %>
  	<p><%= notice %></p>
		<p><%= alert %></p>
    <%= yield %>
  </body>
</html>
